.layout {
  &__container {
    padding: 2em;
  }
}

.button {
  cursor: pointer;
  &--hidden {
    border: none;
    background: none;
    &:focus,
    &:active {
      outline: none;
    }
  }
}

.loading {
  &__container {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

.switch-wrapper {
  position: relative;
  > div {
    position: absolute;
    width: 100%;
  }
}

.sidebar {
  &__container {
    background-color: #1b1c1d;
  }
}

.add__button {
  margin-bottom: 1em !important;
}
